<footer class="page-footer font-small corFooter pt-2">
    <div class="container">

        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center">
                <h1 class="text-white">Mandala</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/JessyOliver/Angular-Projeto-Mandala" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div> 
        
    <div class="footer-copyright bgBottom text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a href="https://brasilgeneration.org" class="text-light" target="_blank">brasil.generation.org</a>

    </div>

</footer>

