body {
    background-color: #8757df6e;
    background-image: url("https://i.imgur.com/AiJn5ID.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 850px;
    background-position: top -393px left -389px;
    min-height: 100vh;
}

h1 {
    color: #8757df;
}

.justificar {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.caixa {
    background-color: #fff;
    border-radius: 15px;
}

img {
    margin-left: 25%;
}