@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
.fs-16 {
    font-size: 16pt;
}

a {
    cursor: pointer;
}

.bg-purple {
    background-color: #8757df;
    z-index: 1;
    height: 4rem;
}


/*buscar postagem*/

.busca {
    position: relative;
    margin-top: 2rem;
    margin-left: 25rem;
    width: 20rem;
}


/*teste menu lateral*/

ng-sidebar-container {
    height: 60vh !important;
    position: absolute;
    z-index: 9;
    width: 19%;
    top: -1.2rem;
    border-radius: 0px 10px 20px 0px;
}

::ng-deep .ng-sidebar {
    background-color: #8757df;
    width: 20em;
    padding: 2em 2em;
    border-right: 2px solid rgb(34, 10, 58);
    /* box-shadow: 0 0 2.5em #8757df; */
}

@media(max-width:120%) {
    ng-sidebar-container {
        height: 15vh !important;
        position: absolute;
        z-index: 9;
        width: 0.9%;
    }
}


/*demais elementos*/

.sair {
    position: relative;
    margin-left: 90%;
}

@media(max-width: 480px) {
    .sair {
        display: block;
        margin-left: auto;
    }
}


/**/

.navigation .close {
    position: relative;
    left: 10rem;
    margin-top: -0.4em;
    display: block;
    text-decoration: none;
    color: #fff;
    z-index: 9;
}

.navigation .pnome {
    position: relative;
    margin-top: -1em;
    left: -0em;
    font-family: 'Clicker Script', cursive;
    font-size: 1.5em;
}

.navigation .perfil {
    position: relative;
    left: 3rem;
}

.navigation .pUsu {
    position: relative;
    top: 3rem;
    font-size: 1em;
    left: -0.5rem;
    display: block;
}


/*editando os elementos da nav*/

.navigation ul {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 12px;
}

.navigation ul li .pnome .pUsu {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation li:hover a:hover {
    position: relative;
    display: flex;
    text-decoration: none;
    color: rgb(35, 0, 58);
    background: #fff;
    border-radius: 10px 10px 10px 10px;
}

.navigation ul li.active a {
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon i {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 8px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}


/* tentando responsivo*/

@media(max-width: 480px) {
    .navigation {
        position: relative;
        display: block;
        margin-left: 0.1rem;
        /* width: 16%; */
        font-size: 0.98rem;
    }
    .navigation .close i {
        position: relative;
        display: block;
        margin-left: -10.8rem;
        margin-top: -0.5em;
        margin-bottom: 1rem;
    }
    .navigation .pnome {
        position: relative;
        display: block;
        margin-left: -2rem;
        top: 1rem;
        font-size: 1.2rem;
    }
    .navigation .pUsu {
        position: relative;
        display: block;
        top: 4rem;
        text-align: center;
        left: -5.40rem;
        width: 50%;
    }
    .navigation .perfil {
        position: relative;
        display: block;
        left: -1.90rem;
        top: 1rem;
    }
    .navigation li a {
        top: 2rem;
        position: relative;
        display: block;
        margin-left: -2.9rem;
        font-size: 0.90rem;
        width: 0.5%;
    }
    .navigation .title {
        position: relative;
        margin-left: -1rem;
        display: block;
    }
}