<body>
    <div class="container-fluid bg-roxo">
        <div class="container-fluid" id='topo'>
            <div class="row justify-content-center">
                <div class="col-md-6 mt-5 mb-5 justificar">
                    <div class="row d-flex justify-content-center">

                        <div class=" col-md-10 caixa shadow-sm p-2">
                            <h1 class="d-flex justify-content-center">Cadastro</h1>
                            <div class="margin-dentro">




                                <div class="form-group campo">
                                    <input [(ngModel)]='usuarioCad.nome' class="form-control" type="text" name="nome" id="nome" required />
                                    <label for="nome">Nome*</label>
                                </div>

                                <div class="form-group campo">
                                    <input [(ngModel)]='usuarioCad.usuario' class="form-control" type="email" name="email" id="email" (blur)="validatePreenchido()" required />
                                    <label for="usuario">Usuário*</label>
                                </div>

                                <div class="form-group campo">
                                    <input [(ngModel)]='usuarioCad.imagem_perfil' class="form-control" type="text" name="foto" id="foto" required />
                                    <label for="foto">Link da foto</label>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col campo">
                                        <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha" required />
                                        <label for="senha">Senha*</label>
                                    </div>

                                    <div class="form-group col campo">
                                        <input [(ngModel)]='usuarioCad.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha" required />
                                        <label for="confirmSenha" class="">Confirmar Senha*</label>
                                    </div>
                                </div>

                                <div class="form-row row-data">
                                    <div class="form-group col texto-color date-input">
                                        <label class="label-cinza" for="dataNasc">Data de Nascimento*</label>
                                        <input [(ngModel)]='usuarioCad.dtNascimento' class="form-control" type="date" name="dataNasc" id="dataNasc" required />
                                    </div>

                                    <div class="form-group col texto-color">
                                        <label class="label-cinza" for="tipo">Gênero</label>
                                        <!-- select - abre na caixa de texto, e permite escrever opções para escolha do usuário -->
                                        <!-- Option - opção dentro da caixa de texto para que o usuário escolha -->
                                        <select class="form-control" name="tipo" id="tipo" (change)='genero($event)'>
                                          <option>Selecione um gênero:</option>
                                          <option value="fem">Feminino</option>
                                          <option value="mas">Masculino</option>
                                          <option value="outros">Outros(Trans, não-binário)</option>
                                      </select>
                                    </div>

                                </div>



                                <div class="form-group col texto-color">
                                    <label class="label-cinza" for="tipo">Tipo de Usuário</label>
                                    <!-- select - abre na caixa de texto, e permite escrever opções para escolha do usuário -->
                                    <!-- Option - opção dentro da caixa de texto para que o usuário escolha -->
                                    <select class="form-control mb-3" name="tipo" id="tipo" (change)='tipoUser($event)'>                
                                      <option>Selecione um tipo de usuário:</option>
                                      <option value="adm">Administrador</option>
                                      <option value="padrao">Padrão</option>
                                  </select>
                                </div>
                                <div class="mt-4">
                                    <p class="botao-roxo text-justify">
                                        *Ao se cadastrar, você aceita nossos Termos de Uso e se compromete a agir de forma respeitosa com os demais usuários da rede.
                                    </p>
                                </div>

                                <div class="d-flex justify-content-around">
                                    <button type="submit" class="btn botao-roxo m-auto" (click)='cadastrar()'>
                                      Cadastrar
                                  </button>
                                    <!-- criar o routerLink no botão cancelar, para que ele volte a página de cadastro abc-->
                                </div>
                                <div class="text-center mt-3">
                                    <a class="roxin" href="" routerLink="/entrar">Já tem uma conta? Faça login</a>
                                </div>






                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</body>