<div class="container-fluid ">

    <div class="row justify-content-center">
        <div class="col-md-12  p-3">
            <h1 class="text-center text-light">Atualizar Postagem</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center ">
        <div class="col-md-5 mb-5 caixa">

            <div class="margin-dentro mt-4">

                <div class="form-group campo ">
                    <input [(ngModel)]='postagem.titulo' name="titulo" type="text" class="form-control" id="titulo" required>
                    <label for="titulo">Título </label>
                </div>
                <div class="form-group campo">
                    <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3" placeholder="O que você está pensando?"></textarea>
                </div>

                <div class="form-group campo">
                    <input [(ngModel)]='postagem.imagem' type="text" class="form-control" id="imagem" name="imagem" required>
                    <label for="imagem">Imagem</label>
                </div>

                <div class="form-group campo">
                    <input [(ngModel)]='postagem.video' type="text" class="form-control" id="video" name="video" required>
                    <label for="video">Vídeo</label>
                </div>
                <div>
                    <!-- <label for="tema">Escolha um tema ou <a class="aEdit" data-dismiss="modal" routerLink="/tema" *ngIf='authService.adm()'> cadastre um novo</a>: </label> -->
                    <label for="tema">Escolha um tema: </label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                      <option *ngFor='let temas of listaTemas' value="{{temas.id}}">{{temas.titulo}}</option>
                    </select>
                </div>

            </div>

            <div class="d-flex justify-content-around mb-3">
                <button type="button" class="btn btn-danger mr-5 px-4" routerLink='/inicio'>Cancelar</button>
                <button type="button" class="btn btn-success px-4" (click)='atualizar()'>Atualizar</button>
            </div>

        </div>
    </div>
</div>
<!-- 
<div class="container-fluid ">

    <div class="row justify-content-center">
        <div class="col-md-12  p-3">
            <h1 class="text-center text-secondary">Atualizar Postagem</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center ">
        <div class="col-md-4 mb-5 caixa">

            <div class="form-group campo">
                <label for="titulo">Título</label>
                <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo" placeholder="Digite o Título">
            </div>

            <div class="form-group campo">
                <label for="texto">Texto</label>
                <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
            </div>

            <div class="form-group campo">
                <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema" class="text-white">cadastre um novo</a>: </label>
                <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
          <option  *ngFor='let item of listaTemas' value="{{item.id}}">
            {{item.descricao}}
          </option>
        </select>
            </div>


            <div class="d-flex justify-content-around mb-3">
                <button type="button" class="btn btn-danger mr-5 px-5" routerLink='/inicio'>Cancelar</button>
                <button type="button" class="btn btn-success px-5" (click)='atualizar()'>Atualizar</button>
            </div>

        </div>
    </div>
</div> -->