.bg-roxo {
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(81, 50, 139, 1) 0%, rgba(165, 115, 255, 1) 30%, rgba(169, 122, 255, 1) 52%, rgba(167, 120, 255, 1) 73%, rgba(81, 50, 139, 1) 100%);
}


/*transparente*/

.caixa {
    background-color: #fff;
    border-radius: 5px;
}

input {
    height: 50px;
}

.margin-dentro {
    margin-left: 30px;
    margin-right: 30px;
}

.campo input {
    width: 100%;
    font-size: 17px;
    background: transparent;
    color: #575757;
    border: none;
    outline: none;
    border-bottom: 1px solid #575757;
    border-radius: 0;
    margin-bottom: 30px;
}

.campo input:focus {
    outline: none;
}

.campo {
    position: relative;
}

input:focus {
    outline: 0;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.campo label {
    position: absolute;
    top: 0;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #777;
    pointer-events: none;
    transition: 100ms;
}

.campo input:focus~label,
.campo input:valid~label {
    top: -20px;
    font-size: 12px;
    outline: none;
}

.campo input:focus {
    color: #404040;
    border-bottom: 1px solid #8757df;
}

.campo input:focus~label {
    color: #8757df;
}

.textoColor,
input {
    color: #575757;
    background-color: transparent;
}

.label-cinza {
    color: #777;
    font-weight: 600;
}