<div class="container">

    <div class="row mb-5 mt-5">
        <div class="col-md-12 d-flex justify-content-center ">

            <div class="card-columns ">

                <div class="card caixaSobre ">
                    <h1 class=" mt-5">Mandala</h1>
                    <div class="card-body d-flex justify-content-center mb-4">

                        <!-- fim -->


                        <div class="mr-5">
                            <p>
                                Somos a Mandala, uma rede social voltada para pessoas com deficiência, voltada para em informações referente a mobilidade, segurança e adequações de usuário dentro de sua cidade.
                            </p>
                        </div>

                        <div>
                            <p> Nossa rede possibilita a interação entre usuários, seja com postagens sobre seu dia a dia, como também indicações sobre locais mais bem preparados para o atender as necessidades de cada indivíduo.</p>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12"></div>

    </div>
</div>