<body >
    <div class="container-fluid">

        <div class="row">
            <div class="card caixaSobre">
                <h1 class="mt-5">Mandala</h1>
                <div class="card-body d-flex justify-content-center mb-4">

                    <!-- fim -->

                    <div class="col-md-6">
                        <p class="text-justify textoSobre" style="font-size: 1.4rem;">
                            Somos a Mandala, uma rede social voltada para pessoas com deficiência, voltada para
                            em informações referente a mobilidade, segurança e adequações de usuário dentro de
                            sua cidade.
                            Nossa rede possibilita a interação entre usuários, seja com postagens sobre seu dia
                            a dia, como também indicações sobre locais mais bem preparados para o atender as
                            necessidades de cada indivíduo.
                        </p>
                    </div>

                </div>
            </div>
        </div>

       
        <div class="col-md-12   mt-5 ">
            <div class="row d-flex justify-content-center">
                <div class="card text-white caixaSobrePerfil mb-3  mr-3" style="max-width: 10rem;">
                    <div class="card-body">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFmAox3pf19Ow/profile-displayphoto-shrink_200_200/0/1626312117748?e=1636588800&v=beta&t=O_NlSlZTG3dggyE3A5pmGoXlqJYiqYkONJb__CALYnk"
                            alt="Foto do usuário" class="img-fluid rounded-circle mb-4" />
                        <h5 class="card-title text-center textoSobre">Amanda Corrêa</h5>
                        <div class="row d-flex justify-content-center">
                            <div>
                                <a href="https://www.linkedin.com/in/correacoding/" target="_blank" class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/CorreaCoding" target="_blank" class="icoGitHub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white caixaSobrePerfil mb-3  mr-3" style="max-width: 10rem;">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/86090687?v=4" alt="Foto do usuário"
                            class="img-fluid rounded-circle mb-4" />
                        <h5 class="card-title text-center textoSobre">Henryk Michalicki</h5>
                        <div class="row d-flex justify-content-center">
                            <div>
                                <a href="https://www.linkedin.com/in/henrykmichalicki/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/HenrykMichalicki" target="_blank" class="icoGitHub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card text-white caixaSobrePerfil mb-3  mr-3" style="max-width: 10rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/MXmdJN9.jpg" alt="Foto do usuário"
                            class="img-fluid rounded-circle mb-4" />
                        <h5 class="card-title text-center textoSobre">Jéssica F. Oliveira</h5>
                        <div class="row d-flex justify-content-center">
                            <div>
                                <a href="https://www.linkedin.com/in/jessica-f-oliveira-330b091a5/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/JessyOliver" target="_blank" class="icoGitHub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white caixaSobrePerfil mb-3 mr-3" style="max-width: 10rem;">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/59633047?v=4" alt="Foto do usuário"
                            class="img-fluid rounded-circle mb-4" />
                        <h5 class="card-title text-center textoSobre">Juan H. Barros</h5>
                        <div class="row d-flex justify-content-center">
                            <div>
                                <a href="https://www.linkedin.com/in/juanhlbarros/" target="_blank" class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/juanhdev" target="_blank" class="icoGitHub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white caixaSobrePerfil mb-3 mr-3" style="max-width: 10rem;">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/84880536?v=4" alt="Foto do usuário"
                            class="img-fluid rounded-circle mb-4" />
                        <h5 class="card-title text-center textoSobre">Juan Sapiezcinski</h5>
                        <div class="row d-flex justify-content-center">
                            <div>
                                <a href="https://www.linkedin.com/in/juan-sapiezcinski/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/SPZCNSK" target="_blank" class="icoGitHub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>