<body>
  <div class="container text-white">
    <div class="row d-flex justify-content-center" id="inicio">
      <div class="col-md-2">
        <div class="voltar mt-4">
          <a class="text-white" routerLink='/inicio'>
            <i class="fa fa-chevron-left mr-1 mt-4"></i> Voltar
          </a>
        </div>
      </div>
      <div class="col-md-6 mt-4" id='topo'>
        <img class='logo mt-4 ' src="https://i.imgur.com/Let0DbC.png" alt="Logo Mandala">
        <p class='text-white mt-2 text-justify'>Somos a Mandala, uma rede social voltada para pessoas com deficiência,
          voltada para informações referentes a mobilidade, segurança e adequações de acessibilidade dentro de sua
          cidade. Nossa rede possibilita a interação entre usuários,
          seja com postagens sobre seu dia a dia, como também indicações sobre locais mais bem preparados para o atender
          as necessidades de cada indivíduo.</p>
      </div>
    </div>

    <hr class="bg-white">

    <div class="row mb-5 mt-5 ">
      <div class="col-md-12 mb-5">
        <h1 class="text-center title-inicial text-white">Sobre nós</h1>
      </div>
    </div>

    <div class="row  mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front ">
              <img class="fotos" src="https://i.imgur.com/BWEnB58.jpg">
            </div>
            <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
              <a href="https://www.linkedin.com/in/correacoding/" target="_blank" class=" mr-3">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/CorreaCoding" target="_blank" class="icone ml-1">
                <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome mb-4">Amanda Corrêa</h1>
        <p class="text-justify">
          Desenvolvedora Fullstack Java Jr. formada através do Bootcamp da Generation Brasil. Durante a minha trajetória
          me envolvi com diversos projetos sociais que me permitiram evoluir minhas habilidades de trabalho em equipe e
          comunicação, entender a importância desses tipos de projetos para as populações em vulnerabilidade social me
          levaram à descoberta de que o meu propósito no fim era de ajudar pessoas e hoje enxergo a tecnologia como
          forma de atingir esse objetivo. Me sinto confortável com Backend e Frontend, e estou sempre aberta para novas
          oportunidades e desafios.
        </p>
      </div>
    </div>

    <div class="row  mt-5 mb-5" style="flex-direction: row;">
      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome mb-4">Henryk Michalicki</h1>
        <p class="text-justify">Paulista vindo da área de eventos, com forte capacidade de comunicação e foco em
          resultado. Atualmente em um novo desafio migrando para área de TI, no Bootcamp da Generation Brasil, com o
          programa formação de Desenvolvedor FullStack Java
          Jr, sempre atento aos detalhes e com alta capacidade de adaptabilidade para conseguir alcançar todos os
          objetivos a mim propostos de forma exemplar.

        </p>
      </div>

      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos" src="https://avatars.githubusercontent.com/u/86090687?v=4">
            </div>
            <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
              <a href="https://www.linkedin.com/in/henrykmichalicki/" target="_blank" class=" mr-3">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/HenrykMichalicki" target="_blank" class="icone ml-1">
                <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos" src="https://i.imgur.com/MXmdJN9.jpg">
            </div>
            <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
              <a href="https://www.linkedin.com/in/jessica-f-oliveira-330b091a5/" target="_blank" class=" mr-3">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/JessyOliver" target="_blank" class="icone ml-1">
                <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome mb-4">Jessica F. Oliveira</h1>
        <p class="text-justify">
          Desenvolvedora Fullstack Java Jr. formada através do Bootcamp da Generation Brasil. Na Etec sou formada nos
          cursos técnicos de Informática, Análise e Desenvolvimento de Sistemas e atualmente na Fatec estou cursando o
          1° semestre de Gestão da Tecnologia
          da Informação. Com experiência no desenvolvimento de projetos acadêmicos, minha persistência em obter
          conhecimentos me faz sempre querer estar atualizada e criando novas tecnologias.
        </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome mb-4">Juan Sapiezcinski</h1>
        <p class="text-justify">
          Desenvolvedor Java Full Stack formado pelo bootcamp da Generation Brasil.
          Natural de São Paulo, com experiências na área da informática
          e, após formar me bacharel em Filosofia busco atualmente iniciar uma carreira na área da
          tecnologia e desenvolvimento web. Curioso e comunicativo, tenho boa capacidade de trabalhar
          em equipe Gosto de pensar soluções para problemas, situações assim estimulam a minha
          inventividade e põem a prova minha resiliência. Encaro cada desafio como oportunidade para o
          crescimento pessoal.
        </p>
      </div>
      
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos" src="https://avatars.githubusercontent.com/u/84880536?v=4">
            </div>
            <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
              <a href="https://www.linkedin.com/in/juan-sapiezcinski/" target="_blank" class=" mr-3">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/SPZCNSK" target="_blank" class="icone ml-1">
                <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row  mt-5 mb-5" style="flex-direction: row;">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos" src="https://avatars.githubusercontent.com/u/59633047?v=4">
            </div>
            <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
              <a href="https://www.linkedin.com/in/juanhlbarros/" target="_blank" class=" mr-3">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/juanhdev" target="_blank" class="icone ml-1">
                <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 mt-5">
        <h1 class="text-center font-nome mb-4">Juan H. Barros</h1>
        <p class="text-justify">Atualmente cursando bootcamp de desenvolvimento Full-stack Java na Generation Brasil,
          tenho inglês avançado e amo o Front-end
          Minha carreira está em desenvolvimento, estou em busca de oportunidades de aprendizado e experiência no
          mercado de trabalho.          
        </p>
      </div>      
    </div>

    <div class="row mt-2 d-flex justify-content-center">
      <div class="subir mb-5 ">
        <a class="text-white html" href="#topo">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>