<div class="container-fluid">
    <div class="row bg-roxo d-flex align-items-center">
        <!-- align-items-center => alinha os itens na vertical -->

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <!-- justify-content-center => alinha os itens na horizontal -->
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs-18">Use esse espaço para expor suas ideias e pensamentos!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5 mb-3">
                <div class="col-md-6">
                    <button class="btn btn-light mr-3" data-toggle="modal" data-target="#novaPostagem">Publicar</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <img src="https://i.imgur.com/0LkfPd7.png" alt="" height="500px">
        </div>

    </div>
</div>

<div class="container mb-5 mt-5" id="posts">
    <ul class="nav nav-pills d-flex just justify-content-center mb-3 mt-0" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active primeiro" id="pills-home-tab" data-toggle="pill" href="#pills-todos" role="tab" aria-controls="pills-todos" aria-selected="true">Todos os posts</a
      >
    </li>

    <li class="nav-item" role="presentation">
      <a
      (click)='findByIdUsu()'
        class="nav-link segundo"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-profile"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Meus posts</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link terceiro"
        id="pills-contact-tab"
        data-toggle="pill"
        href="#pills-contact"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
        >Posts por tema</a>


        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active " id="pills-todos" role="tabpanel" aria-labelledby="pills-todos-tab">

            <div class=" col-md-12 d-flex justify-content-center" *ngFor='let itemPost of listaPostagens'>
                <div class="card " style="width: 50rem;">
                    <small><p class="card-text">Por: {{itemPost.usuario.nome}}</p> </small>
                    <img class="card-img-top w-75" src="{{itemPost.imagem}}" alt="Imagem de capa do card">
                    <video width="320" height="240" controls>{{itemPost.video}}</video>
                    <div class="card-body">
                        <h5 class="card-text">{{itemPost.titulo}}</h5>
                        <small><p class="card-text">Tema: {{itemPost.tema.titulo}}</p> </small>
                        <p class="card-text">{{itemPost.texto}}</p>
                    </div>
                </div>
            </div>

        </div>

<!-- ! minhas postagens -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class=" col-md-12 d-flex justify-content-center" *ngFor='let itemPost of usuarioFK.postagem'>
                <div class="card " style="width: 50rem;">
                    <!-- <small><p class="card-text">Por: {{itemPost.usuario.nome}}</p> </small> -->
                    <img class="card-img-top w-50 " src="{{itemPost.imagem}}" alt="Imagem de capa do card">
                    <video width="320" height="240" controls>{{itemPost.video}}</video>
                    <div class="card-body">
                        <h5 class="card-text">{{itemPost.titulo}}</h5>
                        <!-- <small><p class="card-text">Tema: {{itemPost.tema.titulo}}</p> </small> -->
                        <p class="card-text">{{itemPost.texto}}</p>
                        <button class="btn botao mr-2 text-white" [routerLink]="['/postagem-edit', itemPost.id]">Editar</button>
                        <button class="btn btn-danger" [routerLink]="['/postagem-delete', itemPost.id]">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

            <div class=" col-md-12 d-flex justify-content-center" *ngFor='let tema of listaTema'>
                <div class="text-center">
                    <h5 class="card-text">Tema: {{tema.titulo}}</h5>
                </div>

                <div class="card mt-5" style="width: 50rem;" *ngFor='let itemPost of tema.postagem'>
                    <small><p class="card-text">Por: {{itemPost.usuario.nome}}</p> </small>
                    <img class="card-img-top w-75" src="{{itemPost.imagem}}" alt="Imagem de capa do card">
                    <video width="320" height="240" controls>{{itemPost.video}}</video>
                    <div class="card-body">
                        <h5 class="card-text">{{itemPost.titulo}}</h5>
                        <p class="card-text">{{itemPost.texto}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3 teste">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div class="form-group campo">
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo" required>
                    <label for="titulo">Título *</label>
                </div>

                <div class="form-group campo">
                    <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3" placeholder="Texto *"></textarea>
                </div>

                <div class="form-group campo">
                    <input [(ngModel)]='postagem.imagem' type="text" class="form-control" id="imagem" required>
                    <label for="imagem">Imagem</label>
                </div>

                <div class="form-group campo">
                    <input [(ngModel)]='postagem.video' type="text" class="form-control" id="video" required>
                    <label for="video">Vídeo</label>
                </div>

                <div class="form-group">
                    <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>: </label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let temas of listaTema' value="{{temas.id}}">{{temas.titulo}}</option>
            </select>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-roxo" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outro-roxo" (click)='publicar()'>Publicar</button>
            </div>
        </div>
    </div>
</div>