<div class="container-fluid">
    <div class="row bg-roxo d-flex align-items-center">
        <!-- align-items-center => alinha os itens na vertical -->

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <!-- justify-content-center => alinha os itens na horizontal -->
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs-18">Use esse espaço para expor suas ideias e pensamentos!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5 mb-3">
                <div class="col-md-6">
                    <button class="btn btn-light mr-3" data-toggle="modal" data-target="#novaPostagem">Publicar</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <img src="https://i.imgur.com/0LkfPd7.png" alt="" height="500px">
        </div>

    </div>
</div>

<div class="container mb-5 mt-5" id="posts">
  <ul
    class="nav nav-pills d-flex just justify-content-center mb-3 mt-0"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active primeiro"
        id="pills-home-tab"
        data-toggle="pill"
        href="#pills-todos"
        role="tab"
        aria-controls="pills-todos"
        aria-selected="true"
        >Todos os posts</a
      >
    </li>

    <li class="nav-item" role="presentation">
      <a
        class="nav-link segundo"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-profile"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Meus posts</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link terceiro"
        id="pills-contact-tab"
        data-toggle="pill"
        href="#pills-contact"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
        >Posts por tema</a
      >
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-todos"
      role="tabpanel"
      aria-labelledby="pills-todos-tab"
    >
      Todos os posts
    </div>
    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
      Meus posts
    </div>
    <div
      class="tab-pane fade"
      id="pills-contact"
      role="tabpanel"
      aria-labelledby="pills-contact-tab"
    >
      Posts por tema
    </div>
  </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o Título">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>: </label>
            <select name="tema" id="tema" class="form-control">
              <option value="">Temas</option>
            </select>
              
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>
